USE [PROG260FA22]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Report1'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Report1'
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertReport4Data]    Script Date: 11/7/2022 12:07:53 AM ******/
DROP PROCEDURE [dbo].[sp_InsertReport4Data]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertReport3Data]    Script Date: 11/7/2022 12:07:53 AM ******/
DROP PROCEDURE [dbo].[sp_InsertReport3Data]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertReport2Data]    Script Date: 11/7/2022 12:07:53 AM ******/
DROP PROCEDURE [dbo].[sp_InsertReport2Data]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertReport1Data]    Script Date: 11/7/2022 12:07:53 AM ******/
DROP PROCEDURE [dbo].[sp_InsertReport1Data]
GO
/****** Object:  StoredProcedure [dbo].[sp_GenerateReport4]    Script Date: 11/7/2022 12:07:53 AM ******/
DROP PROCEDURE [dbo].[sp_GenerateReport4]
GO
/****** Object:  StoredProcedure [dbo].[sp_GenerateReport3]    Script Date: 11/7/2022 12:07:53 AM ******/
DROP PROCEDURE [dbo].[sp_GenerateReport3]
GO
/****** Object:  StoredProcedure [dbo].[sp_GenerateReport2]    Script Date: 11/7/2022 12:07:53 AM ******/
DROP PROCEDURE [dbo].[sp_GenerateReport2]
GO
/****** Object:  StoredProcedure [dbo].[sp_GenerateReport1]    Script Date: 11/7/2022 12:07:53 AM ******/
DROP PROCEDURE [dbo].[sp_GenerateReport1]
GO
/****** Object:  Table [dbo].[Student_Enrollment]    Script Date: 11/7/2022 12:07:53 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Student_Enrollment]') AND type in (N'U'))
DROP TABLE [dbo].[Student_Enrollment]
GO
/****** Object:  Table [dbo].[Report_4 Table]    Script Date: 11/7/2022 12:07:53 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Report_4 Table]') AND type in (N'U'))
DROP TABLE [dbo].[Report_4 Table]
GO
/****** Object:  Table [dbo].[Report_3 Table]    Script Date: 11/7/2022 12:07:53 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Report_3 Table]') AND type in (N'U'))
DROP TABLE [dbo].[Report_3 Table]
GO
/****** Object:  Table [dbo].[Report_2 Table]    Script Date: 11/7/2022 12:07:53 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Report_2 Table]') AND type in (N'U'))
DROP TABLE [dbo].[Report_2 Table]
GO
/****** Object:  Table [dbo].[Report_1 Table]    Script Date: 11/7/2022 12:07:53 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Report_1 Table]') AND type in (N'U'))
DROP TABLE [dbo].[Report_1 Table]
GO
/****** Object:  View [dbo].[vw_Report1]    Script Date: 11/7/2022 12:07:53 AM ******/
DROP VIEW [dbo].[vw_Report1]
GO
/****** Object:  Table [dbo].[Student_Info]    Script Date: 11/7/2022 12:07:53 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Student_Info]') AND type in (N'U'))
DROP TABLE [dbo].[Student_Info]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 11/7/2022 12:07:53 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Student]') AND type in (N'U'))
DROP TABLE [dbo].[Student]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 11/7/2022 12:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[id] [int] NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[email] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student_Info]    Script Date: 11/7/2022 12:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Info](
	[id] [int] NULL,
	[student_id] [int] NULL,
	[phone] [varchar](50) NULL,
	[ssn] [varchar](50) NULL,
	[address] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[state] [varchar](50) NULL,
	[zip] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Report1]    Script Date: 11/7/2022 12:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Report1]
AS
SELECT        dbo.Student.id, COALESCE (SUBSTRING(dbo.Student_Info.ssn, { fn LENGTH(dbo.Student_Info.ssn) } - 3, 4), 'N/A') AS SSN, COALESCE (dbo.Student_Info.phone, '000-000-0000') AS Phone, dbo.Student.first_name, 
                         dbo.Student.last_name, dbo.Student_Info.address, dbo.Student_Info.city, SUBSTRING(dbo.Student_Info.state, 0, 3) AS state, dbo.Student_Info.zip
FROM            dbo.Student INNER JOIN
                         dbo.Student_Info ON dbo.Student.id = dbo.Student_Info.student_id
GO
/****** Object:  Table [dbo].[Report_1 Table]    Script Date: 11/7/2022 12:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report_1 Table](
	[ID] [nvarchar](50) NULL,
	[Full_Name] [nvarchar](50) NULL,
	[SSN] [nvarchar](50) NULL,
	[Full_Address] [nvarchar](max) NULL,
	[Phone] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report_2 Table]    Script Date: 11/7/2022 12:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report_2 Table](
	[Id] [int] NULL,
	[Full_Name] [nvarchar](50) NULL,
	[Course_Count] [int] NULL,
	[Courses_Complete] [int] NULL,
	[Courses_Incomplete] [int] NULL,
	[Courses_InProgress] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report_3 Table]    Script Date: 11/7/2022 12:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report_3 Table](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[Course_Code] [nvarchar](50) NULL,
	[Students_Enrolled] [int] NULL,
	[Students_Completed] [int] NULL,
	[Students_Failed] [int] NULL,
 CONSTRAINT [PK_Report_3 Table] PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report_4 Table]    Script Date: 11/7/2022 12:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report_4 Table](
	[Course_Code] [nvarchar](50) NULL,
	[Student_IDs] [nvarchar](max) NULL,
	[Primary_State] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student_Enrollment]    Script Date: 11/7/2022 12:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Enrollment](
	[id] [int] NULL,
	[student_id] [int] NULL,
	[course_code] [varchar](50) NULL,
	[completed] [bit] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Student] ([id], [first_name], [last_name], [email]) VALUES (1, N'Binnie', N'Youll', N'byoull0@alibaba.com')
INSERT [dbo].[Student] ([id], [first_name], [last_name], [email]) VALUES (2, N'Trescha', N'Thebe', N'tthebe1@paypal.com')
INSERT [dbo].[Student] ([id], [first_name], [last_name], [email]) VALUES (3, N'Rose', N'Sagar', N'rsagar2@etsy.com')
GO
INSERT [dbo].[Student_Enrollment] ([id], [student_id], [course_code], [completed]) VALUES (1, 5, N'PROG27', NULL)
INSERT [dbo].[Student_Enrollment] ([id], [student_id], [course_code], [completed]) VALUES (2, 17, N'PROG74', 1)
INSERT [dbo].[Student_Enrollment] ([id], [student_id], [course_code], [completed]) VALUES (3, 21, N'PROG27', 1)
GO
INSERT [dbo].[Student_Info] ([id], [student_id], [phone], [ssn], [address], [city], [state], [zip]) VALUES (1, 1, NULL, N'531-95-1379', N'6 Canary Center', N'Sioux Falls', N'South Dakota', N'57193')
INSERT [dbo].[Student_Info] ([id], [student_id], [phone], [ssn], [address], [city], [state], [zip]) VALUES (2, 2, N'609-131-7003', N'423-08-0236', N'2 Schmedeman Trail', N'Trenton', N'New Jersey', N'08608')
INSERT [dbo].[Student_Info] ([id], [student_id], [phone], [ssn], [address], [city], [state], [zip]) VALUES (3, 3, N'614-367-9085', NULL, N'53 Brentwood Drive', N'Columbus', N'Ohio', N'43231')
GO
/****** Object:  StoredProcedure [dbo].[sp_GenerateReport1]    Script Date: 11/7/2022 12:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GenerateReport1]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SELECT [id]
      ,CONCAT([first_name],' ',[last_name]) as 'Full_Name'
	  ,[SSN]
      ,CONCAT([address], ', ',[city],', ',[state],'. ',[zip]) as 'Full_Address'
	  ,[Phone]
	FROM [PROG260FA22].[dbo].[vw_Report1]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GenerateReport2]    Script Date: 11/7/2022 12:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GenerateReport2] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT	dbo.Student.id
			,CONCAT(dbo.Student.first_name, ' ',dbo.Student.last_name) as 'Full_Name'
			,COUNT(dbo.Student_Enrollment.student_id) as Courses_Total
			,COUNT(CASE WHEN dbo.Student_Enrollment.completed = 1 THEN 1 END) as Courses_Completed
			,COUNT(CASE WHEN dbo.Student_Enrollment.completed = 0 THEN 1 END) as Courses_Incomplete
			,COUNT(CASE WHEN dbo.Student_Enrollment.completed IS NULL THEN 1 END) as Courses_InProgress
	FROM     dbo.Student LEFT OUTER JOIN dbo.Student_Enrollment ON dbo.Student.id = dbo.Student_Enrollment.student_id
	GROUP BY dbo.Student.id, dbo.Student.first_name, dbo.Student.last_name
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GenerateReport3]    Script Date: 11/7/2022 12:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GenerateReport3]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT		DISTINCT(course_code)
				,COUNT(CASE WHEN dbo.Student_Enrollment.completed IS NULL THEN 1 END)
				,COUNT(CASE WHEN dbo.Student_Enrollment.completed = 1 THEN 1 END)
				,COUNT(CASE WHEN dbo.Student_Enrollment.completed = 0 THEN 1 END)
	FROM     dbo.Student_Enrollment
	GROUP BY course_code
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GenerateReport4]    Script Date: 11/7/2022 12:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GenerateReport4]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

		SELECT          a.course_code, STRING_AGG(a.student_id, ','), Max(b.state)
		FROM			dbo.Student_Enrollment a 
		LEFT JOIN       dbo.Student_Info b ON a.student_id = b.student_id
		GROUP BY		a.course_code
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertReport1Data]    Script Date: 11/7/2022 12:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_InsertReport1Data]
	-- Add the parameters for the stored procedure here
	@StudentID nvarchar(50),
	@FullName nvarchar(50),
	@SSN nvarchar(50),
	@FullAddress nvarchar(max),
	@Phone nvarchar(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[Report_1 Table]
	([ID], [Full_Name], [SSN], [Full_Address], [Phone])
	VALUES (@StudentID, @FullName, @SSN, @FullAddress, @Phone)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertReport2Data]    Script Date: 11/7/2022 12:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_InsertReport2Data]
	-- Add the parameters for the stored procedure here
	@StudentID nvarchar(50),
	@FullName nvarchar(50),
	@CourseCount nvarchar(50),
	@Complete nvarchar(50),
	@Incomplete nvarchar(50),
	@InProgress nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   INSERT INTO [dbo].[Report_2 Table]
	([ID], [Full_Name], [Course_Count], [Courses_Complete], [Courses_Incomplete], [Courses_InProgress])
	VALUES (@StudentID, @FullName, @CourseCount, @Complete, @Incomplete, @InProgress)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertReport3Data]    Script Date: 11/7/2022 12:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_InsertReport3Data]
	@Code nvarchar(50),
	@Enrolled nvarchar(50),
	@Completed nvarchar(50),
	@Failed nvarchar(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   INSERT INTO [dbo].[Report_3 Table]
	(Course_Code, Students_Enrolled, Students_Completed, Students_Failed)
	VALUES (@Code, @Enrolled, @Completed, @Failed)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertReport4Data]    Script Date: 11/7/2022 12:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_InsertReport4Data]
	@Code nvarchar(50),
	@IDs nvarchar(50),
	@PrimaryState nvarchar(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   INSERT INTO [dbo].[Report_4 Table]
	(Course_Code, Student_IDs, Primary_State)
	VALUES (@Code, @IDs, @PrimaryState)
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Student"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 199
               Right = 221
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Student_Info"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 257
               Right = 615
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 6315
         Alias = 2085
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Report1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Report1'
GO
